<div class="allApp" id="main-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 110px; position: fixed;
  left: 0px;
  top: 0px; bottom: 110px; z-index: 15; width: 100vw">
    <a class="navbar-brand"
       style="cursor: default; color:white; padding: 20px; font-size: 40px; text-transform: uppercase; letter-spacing: 2px; font-weight: 600">Football
      Academy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button (click)="onOpenModal(null, 'addTeam')" class="btn btn-success" data-toggle="modal"
                  style="margin:0 100px ">
            <span>Add Team</span>
          </button>
        </li>


        <li class="nav-item active">
          <a style="margin-left: 20px" class="btn btn-success" href="/main">Back
            <span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>

    <form class="form-inline my-0 my-lg-0">
      <input type="search" (ngModelChange)="searchTeam(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2"
             placeholder="Search team..." required>
    </form>
  </nav>

  <div class="content" style=" margin-top: 110px;  ">

    <div class="container bootstrap snippets bootdey">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-box no-header clearfix">
            <div class="main-box-body clearfix">
              <div class="table-responsive">
                <table class="table user-list">

                  <thead>
                  <tr>
                    <th><span>Team</span></th>

                    <th><span>Joined</span></th>
                    <th class="text-center"><span>Status</span>

                    </th>
                    <th><span>Email</span></th>
                    <th>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let team of teams">
                  <tr>

                    <td>
                      <!--                      <img src="{{trainer.imageUrl}}" alt="" width="50" height="50">-->
                      <a class="user-link">{{team.name}}</a>
                      <br>
                      <span class="user-subhead">{{team.code}}</span>
                    </td>

                    <td>{{team.joined}}</td>
                    <td class="text-center">{{team.status}}</td>

                    <td>
                      <a href="#">{{team.email}}</a>
                    </td>

                    <td class="text-center" data-toggle="modal" style="width: 20%;">
                      <a (click)="onOpenModal(team, 'infoTeam')" class="table-link text-warning">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                      </a>
                      <a (click)="onOpenModal(team, 'updateTeam')" data-toggle="modal"
                         class="table-link text-info">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                      </a>
                      <a (click)="onOpenModal(team, 'deleteTeam')" data-toggle="modal"
                         class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                      </a>

                      <a (click)="onOpenModal(team, 'listMemberTeam')" data-toggle="modal"
                         class="table-link text-info">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                                            </span>
                      </a>



                    </td>
                  </tr>


                  </tbody>

                </table>
                <div *ngIf="teams?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
                  <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">EMPTY LIST OF TEAMS !</h4>
                    <p>No teams were found.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  INFO Parent-->


    <div class="modal fade" id="infoTeam" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
         aria-hidden="true">
      <div class="modal-dialog " style="max-width: 1100px;" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="container bootstrap snippets bootdey">
              <div class="row">
                <div class="col-lg-12">
                  <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <form class="form-inline my-2 my-lg-0">
                        <h2>Info about {{setInfoTeam?.name}} </h2>
                        <button style="margin-left: 250px; margin-bottom: 15px; text-transform: uppercase"
                                (click)="printReportInfoPdf()" type="button" class="btn btn-success">Download
                          .pdf
                        </button>

                      </form>
                      <div class="table-responsive">

                        <div class="container bootstrap snippets bootdey">
                          <div class="panel-body inf-content">
                            <div class="row">
                              <div class="col-md-4">
                                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
                                     src="{{setInfoTeam?.imageUrl}}" data-original-title="Usuario">
                                <ul title="Ratings" class="list-inline ratings text-center">
                                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <strong>Information</strong><br>
                                <div class="table-responsive">
                                  <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                      <td>
                                        <strong>
                                          <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                          Identificacion
                                        </strong>
                                      </td>
                                      <td class="text-primary">
                                        {{setInfoTeam?.code}}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <strong>
                                          <span class="glyphicon glyphicon-user  text-primary"></span>
                                          Name
                                        </strong>
                                      </td>
                                      <td class="text-primary">
                                        {{setInfoTeam?.name}}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <strong>
                                          <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                          Count trainers
                                        </strong>
                                      </td>
                                      <td class="text-primary">
                                        {{setInfoTeam?.countTrainer}}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <strong>
                                          <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                          Count players
                                        </strong>
                                      </td>
                                      <td class="text-primary">
                                        {{setInfoTeam?.countPlayer}}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <strong>
                                          <span class="glyphicon glyphicon-envelope text-primary"></span>
                                          Email
                                        </strong>
                                      </td>
                                      <td class="text-primary">
                                        {{setInfoTeam?.email}}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <strong>
                                          <span class="glyphicon glyphicon-calendar text-primary"></span>
                                          created
                                        </strong>
                                      </td>
                                      <td class="text-primary">
                                        {{setInfoTeam?.joined}}
                                      </td>
                                    </tr>

                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Add   -->

    <div class="modal fade" id="addTeamModal" tabindex="-1" role="dialog"
         aria-labelledby="addParentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addParentModalLabel">Add team</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #addFormTeam="ngForm" (ngSubmit)="addTeam(addFormTeam)">

              <div class="form-group">
                <!--              <label for="parentName">Name :</label>-->
                <input type="text" ngModel maxlength="20" minlength="2" name="name" class="form-control" id="parentName"
                       placeholder="Name" required>
              </div>
              <div class="form-group">
                <!--              <label for="parentSurname">Surname :</label>-->
                <input type="text" ngModel maxlength="20" minlength="2" name="code" class="form-control"
                       id="codeTeam"
                       placeholder="Team code" required>
              </div>

              <div class="form-group">
                <!--              <label for="parentPassword">Password :</label>-->
                <input type="email" ngModel minlength="3" name="email" class="form-control"
                       id="emailTeam"
                       placeholder="email" required>
              </div>
              <div class="form-group">
                <!--              <label for="parentImageUrl">image Url :</label>-->
                <input type="text" ngModel name="imageUrl" class="form-control"
                       id="parentImageUrl"
                       placeholder="imageUrl" required>
              </div>
              <div class="form-group">
                <!--              <label for="parentJoined">Joined :</label>-->
                <input type="date" ngModel name="joined" class="form-control" id="parentJoined"
                       placeholder="Joined" required>
              </div>
              <div class="form-group">
                <input type="hidden" ngModel="NO" name="status" class="form-control" id="parentStatus">
              </div>


              <div class="modal-footer">
                <button type="button" id="add-team-form" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
                <button [disabled]="addFormTeam.invalid" type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Edit Modal -->

    <div class="modal fade" id="updateTeamModal" tabindex="-1" role="dialog"
         aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel">Edit
              team: {{editTeam?.name}}, code {{editTeam?.code}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #editFormTeam="ngForm">
              <div class="form-group">

                <input type="hidden" ngModel="{{editTeam?.id}}" name="id" class="form-control"
                       id="reservationIdReservationEdit" placeholder="">


                <div class="form-group">
                  <!--                <label for="guardianNameEdit">Name:</label>-->
                  <input type="text" ngModel="{{editTeam?.name}}" name="name"
                         class="form-control" id="guardianNameEdit" placeholder="" readonly>
                </div>

                <div class="form-group">
                  <!--                <label for="guardianSurnameEdit">Surname:</label>-->
                  <input type="text" ngModel="{{editTeam?.code}}" name="surname"
                         class="form-control" id="guardianSurnameEdit" placeholder="" readonly>
                </div>

                <div class="form-group">
                  <!--                <label for="guardianLoginEdit">Login(email):</label>-->
                  <input type="text" ngModel="{{editTeam?.email}}" name="login"
                         class="form-control" id="guardianLoginEdit" placeholder="" >
                </div>

                <div class="form-group">
                  <!--                <label for="guardianSurnameEdit">Surname:</label>-->
                  <input type="text" ngModel="{{editTeam?.imageUrl}}" name="imageUrl"
                         class="form-control" id="imageUrlParentEdit" placeholder="">
                </div>

                <div class="form-group">
                  <!--                <label for="guardianLoginEdit">Login(email):</label>-->
                  <input type="email" ngModel="{{editTeam?.joined}}" name="joined"
                         class="form-control" id="joinedParentEdit" placeholder="">
                </div>

                <div class="form-group">
                  <select name="status" ngModel="{{editTeam?.status}}" class="form-control">
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                  </select>
                </div>


                <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="updateTeam(editFormTeam.value)" data-dismiss="modal" class="btn btn-primary">Save
                    changes
                  </button>
                </div>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="deleteTeamModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete team</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you want to delete team: {{toDeleteTeam?.name}} ?</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="deleteTeam(toDeleteTeam?.id)" class="btn btn-danger"
                      data-dismiss="modal">Yes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--    List team members?-->


    <div class="modal fade" id="listMemberTeam" tabindex="-1" role="dialog" aria-labelledby="listMemberTeamLabel"
         aria-hidden="true">
      <div class="modal-dialog " style="max-width: 1100px;" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="container bootstrap snippets bootdey">
              <div class="row">
                <div class="col-lg-12">
                  <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <form class="form-inline my-2 my-lg-0">
                        <h2>List Trainers and player {{listMemberTeam?.name}} </h2>
                        <button style="margin-left: 250px; margin-bottom: 15px; text-transform: uppercase"
                                (click)="printReportInfoPdf()" type="button" class="btn btn-success">Download
                          .pdf
                        </button>

                      </form>
                      <div class="table-responsive">


                        <table class="table user-list">

                          <thead>
                          <tr>
                            <th><span>Trainer</span></th>

                            <th><span>Joined</span></th>
                            <th class="text-center"><span>Status</span>

                            </th>
                            <th><span>Email</span></th>
                            <th>
                            </th>
                          </tr>
                          </thead>
                          <tbody *ngFor="let trainer of trainers">
                          <ng-container *ngIf="trainer.teamName === (listMemberTeam?.name)">
                          <tr>

                            <td>
                              <!--                      <img src="{{trainer.imageUrl}}" alt="" width="50" height="50">-->
                              <a class="user-link">{{trainer?.surname}} {{trainer?.name}}</a>
                              <br>
                              <span class="user-subhead">{{trainer?.role}}</span>
                            </td>

                            <td>{{trainer?.joined}}</td>
                            <td class="text-center">{{trainer?.status}}</td>

                            <td>
                              <a href="#">{{trainer?.login}}</a>
                            </td>


                          </tr>

                          </ng-container>
                          </tbody>

                        </table>
                        <div *ngIf="trainers?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
                          <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">EMPTY LIST OF TRAINERS !</h4>
                            <p>No trainers were found.</p>
                          </div>
                        </div>


                        <table class="table user-list">

                          <thead>
                          <tr>
                            <th><span>Player</span></th>

                            <th><span>Joined</span></th>
                            <th class="text-center"><span>Status</span>

                            </th>
                            <th><span>Email</span></th>
                            <th>
                            </th>
                          </tr>
                          </thead>
                          <tbody *ngFor="let player of players">
                          <ng-container *ngIf="player.teamName === (listMemberTeam?.name)">
                          <tr>

                            <td>
                              <!--                      <img src="{{trainer.imageUrl}}" alt="" width="50" height="50">-->
                              <a class="user-link">{{player.surname}} {{player.name}}</a>
                              <br>
                              <span class="user-subhead">{{player.role}}</span>
                            </td>

                            <td>{{player.joined}}</td>
                            <td class="text-center">{{player.status}}</td>

                            <td>
                              <a href="#">{{player.login}}</a>
                            </td>


                          </tr>

                          </ng-container>
                          </tbody>

                        </table>
                        <div *ngIf="players?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
                          <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">EMPTY LIST OF PLAYERS !</h4>
                            <p>No players were found.</p>
                          </div>
                        </div>





                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
